<%= page_title "Flugzeug #{h @plane.kennzeichen}" %>

<p>
  <b>Kennzeichen:</b>
  <%=h @plane.kennzeichen %>
</p>

<p>
  <b>Verein:</b>
  <%=h @plane.verein %>
</p>

<p>
  <b>Typ:</b>
  <%=h @plane.typ %>
</p>

<p>
  <b>Sitze:</b>
  <%=h @plane.sitze %>
</p>

<p>
  <b>Gattung:</b>
  <%=h @plane.gattung %>
</p>

<p>
  <b>Wettbewerbskennzeichen:</b>
  <%=h @plane.wettbewerbskennzeichen %>
</p>

<p>
  <b>Bemerkung:</b>
  <%=h @plane.bemerkung %>
</p>


<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
