<% s=SystemInfo %>

<% content_for :head do %>
	<style type="text/css">
		table { border-collapse: collapse; }
		td, th { text-align: left; border: solid white 1px; padding: 2px; }
	</style>
<% end %>

<%= page_title "Environment dumper" do %>
	<% heading "Location" do %>
		<p><%= h s.username||"?" %>@<%= h s.hostname||"?" %>:<%= h Dir.pwd %></p>
	<% end %>

	<% heading "Rails" do %>
		<table>
			<tr>
				<td>Root:</td>
				<td><%= h(Rails.root) %></td>
			</tr>
			<tr>
				<td>Environment:</td>
				<td><%= h(Rails.env) %></td>
			</tr>
		</table>
	<% end %>

	<% heading "ID" do %>
		<p>
		<% s.id.split(' ').each do |x| %>
			<%= h x.gsub(',', ', ') %><br />
		<% end %>
		</p>
	<% end if s.id %>

	<% heading "Parameters" do %>
		<% if params %>
			<table>
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
				<% params.sort.each { |a| %>
					<tr>
						<td><%= h a[0] %></td>
						<td><%= h a[1] %></td>
					</tr>
				<% } %>
			</table>
		<% else %>
			<p>None</p>
		<% end %>
	<% end %>

	<% heading "Request" do %>
		<% heading "Properties" do %>
			<table>
				<tr>
					<th>ssl?</th>
					<td><%= h request.ssl? %></td>
				</tr>
			</table>
		<% end %>

		<% heading "Environment" do %>
			<table>
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
				<% request.env.sort.each { |a| %>
					<tr>
						<td><%= h a[0] %></td>
						<td><%= h a[1] %></td>
					</tr>
				<% } %>
			</table>
		<% end %>
	<% end %>

	<% heading "Environment" do %>
		<table>
			<tr>
				<th>Name</th>
				<th>Value</th>
			</tr>
			<% ENV.sort.each { |a| %>
				<tr>
					<td><%= h a[0] %></td>
					<td><%= h a[1] %></td>
				</tr>
			<% } %>
		</table>
	<% end %>
<% end %>

