<%= page_title "Person #{h @person.full_name} editieren" %>

<% form_for(@person) do |f| %>
	<%= f.error_messages %>

	<table>
		<tr>
			<th><%= f.label :nachname %>:</th>
			<td><%= f.text_field :nachname %></td>
		</tr>
		<tr>
			<th><%= f.label :vorname %>:</th>
			<td><%= f.text_field :vorname %></td>
		</tr>
		<tr>
			<th><%= f.label :verein %>:</th>
			<td><%= f.text_field :verein %></td>
		</tr>
		<tr>
			<th><%= f.label :vereins_id, "Vereins-ID" %>:</th>
			<td><%= f.text_field :vereins_id %></td>
		</tr>
		<tr>
			<th><%= f.label :bemerkung %>:</th>
			<td><%= f.text_field :bemerkung %></td>
		</tr>
	</table>

	<p><%= f.submit 'Speichern' %></p>
<% end %>

<p>
	<%= link_to 'Anzeigen', @person %> |
	<%= link_to 'Personenliste', people_path %>
</p>

