<% page_title "Personen importieren" do %>

	<%= form_tag 'import', :multipart => true do %>
		<table class="form">
			<tr>
				<th>Verein:</th>
				<td><%= text_field_tag 'club', @club %></td>
			</tr>
			<tr>
				<th>Dateiname:</th>
				<td><%= file_field_tag 'file' %></td>
			</tr>
		</table>

		<p>
		Nach dem Hochladen wird die Datei auf Fehler überprüft und eine Liste
		der Änderungen zur Kontrolle angezeigt.
		</p>

		<p><%= submit_tag "Hochladen" %></p>
	<% end %>

	<p>
	<%= link_to 'Personenliste', people_path %>
	</p>


	<% heading h "Dateiformat" do %>

		<p>
		Die Datei ist eine CSV-Datei im UTF8-Zeichensatz mit mindestens den folgenden Spalten:
		</p>

		<ul>
			<li>Nachname</li>
			<li>Vorname</li>
		</ul>

		<p>
		Außerdem kann die Datei noch die folgenden Spalten enthalten:
		</p>

		<ul>
			<li>Bemerkungen: optional</li>
			<li>
			Vereins-ID: optional. Wenn vorhanden, wird die zu aktualisierende
			Person anhand dieser Vereins-ID anstatt des Namens ausgewählt. Diese
			Angabe ist nötig, um den Namen einer Person zu ändern. Die
			Vereins-ID kann auch dazu dienen, zwei Personen gleichen Namens im
			gleichen Verein zu unterscheiden. Die Vereins-ID muss, sofern sie
			angegeben ist, vereinsweit eindeutig sein.
			</li>
			<li>
			Vereins-ID_alt: optional. Wenn vorhanden, wird die zu aktualisierende
			Person anhand dieser Angabe anstatt des Namens oder der ebenfalls
			angegebenen Vereins-ID ausgewählt. Diese Angabe ist nötig, um die
			Vereins-ID einer Person zu ändern.
			</li>
		</ul>

		<p>
		Die Reihenfolge der Spalten ist beliebig. Üblicherweise wird eine CSV-Datei
		die Spalten Nachname, Vorname, Bemerkungen und ggf. Vereins-ID enthalten.
		</p>

		<p>
		Ein einfaches Beispiel (ohne Vereins-ID):
		</p>

	<pre>
	Nachname,Vorname,Bemerkungen
	Müller,Andreas
	Schmitt,Eva
	Schneider,Claudia
	Fischer,Oliver
	Weber,Günther,Fluglehrer
	Meier,Rita
	</pre>

		<p>
		Ein Beispiel mit Vereins-ID; die Vereins-ID ist hier zum Beispiel die Mitgliedsnummer oder die Kontonummer im Abrechnungssystem des Vereins:
		</p>

	<pre>
	Nachname,Vorname,Bemerkungen,Vereins-ID
	Müller,Andreas,,10484
	Schmitt,Eva,,10492
	Schneider,Claudia,,10417
	Fischer,Oliver,,10412
	Weber,Günther,Fluglehrer,10435
	Meier,Rita,,10427
	</pre>

	<% end %>
<% end %>

