<%# coding: utf-8 %>
<% page_title "Personen" do %>

<p><%= @people.page_info 'Person', 'Personen' %></p>

<% if not @people.empty? %>
	<% paginated_section @people do %>
		<% table_for(@people) { |table| %>
			<% table.header_row { |header| %>
				<%= header.hidden :colspan=>3 %>
				<%= header.text "Medical", :colspan=>2 %>
			<% } %>

			<% table.header_row { |header| %>
				<%= header.text "Nachname"           %>
				<%= header.text "Vorname"            %>
				<%= header.text "Verein"             %>
				<%= header.text "Gültig bis"         %>
				<%= header.text "Prüfen"             %>
				<%= header.text "Vereins-ID"         %>
				<%= header.text "Bemerkung"          %>
				<%= header.text "Benutzer"           %>
				<%= header.text "ID"                 %>
				<%#= header.text "Benutzt?"   %>
			<% } %>

			<% table.body { |body, person| %>
				<% user=person.user %>
				<%= body.cell link_to(person.last_name, person)               %>
				<%= body.cell link_to(person.first_name, person)              %>
				<%= body.text person.club                                     %>
				<%= body.text person.effective_medical_validity("Unbekannt")  %>
				<%= body.text yesno(person.check_medical_validity)            %>
				<%= body.text person.club_id                                  %>
				<%= body.text person.comments                                 %>
				<%= body.cell((user)?link_to(user.username, user):h("-"))     %>
				<%= body.cell link_to(person.id, person)                      %>
				<%#= body.text yesno(person.used?)     %>
				<%= body.cell link_to('Editieren',     edit_person_path(      person)) %>
				<%= body.cell link_to('Löschen',       person, :method => :delete,
					:confirm => "Person #{person.full_name} wirklich löschen?"       ) %>
				<%= body.cell link_to('Überschreiben', overwrite_person_path( person)) %>
			<% } %>
		<% } %>
	<% end %>
<% end %>

<p>
	<%= link_to 'Person anlegen', new_person_path %>
	<%= link_to 'Personen importieren', import_people_path %>
	<%#= link_to 'Unbenutzte Personen löschen', delete_unused_people_path, :confirm => 'Wirklich alle unbenutzten Personen löschen?', :method => :post %>
</p>

<% end %>

