<%# coding: utf-8 %>
<%= page_title "Personen" do %>

<%= page_info @people, 'Person', 'Personen' %>

<% if not @people.empty? %>
    <%= paginated_section @people do %>
        <%= table_for(@people) { %>
            <% header_row { %>
                <% hidden :colspan=>3 %>
                <% text "Medical", :colspan=>2 %>
            <% } %>

            <% header_row { %>
                <% text "Nachname"           %>
                <% text "Vorname"            %>
                <% text "Verein"             %>
                <% text "Gültig bis"         %>
                <% text "Prüfen"             %>
                <% text "Vereins-ID"         %>
                <% text "Bemerkung"          %>
                <% text "Benutzer"           %>
                <% text "ID"                 %>
                <%# text "Benutzt?"   %>
            <% } %>

            <% body { |person| %>
                <% user=person.user %>
                <% cell link_to(person.last_name, person)               %>
                <% cell link_to(person.first_name, person)              %>
                <% text person.club                                     %>
                <% text person.effective_medical_validity("Unbekannt")  %>
                <% text yesno(person.check_medical_validity)            %>
                <% text person.club_id                                  %>
                <% text person.comments                                 %>
                <% cell((user)?link_to(user.username, user):h("-"))     %>
                <% cell link_to(person.id, person)                      %>
                <%# text yesno(person.used?)     %>
                <% cell button_to('Editieren', edit_person_path(person), :method => :get) %>
                <% cell button_to('Löschen',       person, :method => :delete,
                    :confirm => "Person #{person.full_name} wirklich löschen?"       ) %>
                <% cell button_to('Überschreiben', overwrite_person_path( person)) %>
            <% } %>
        <% } %>
    <% end %>
<% end %>

<p>
    <%= link_to 'Person anlegen', new_person_path %>
    <%= link_to 'Personen importieren', import_people_path %>
    <%#= link_to 'Unbenutzte Personen löschen', delete_unused_people_path, :confirm => 'Wirklich alle unbenutzten Personen löschen?', :method => :post %>
</p>

<% end %>

