<% page_title "Person anlegen" do %>

	<%= form_for(@person) do |f| %>
		<%= f.error_messages \
			:header_message => "Fehlerhafte Angaben", # 1 error prohibited this user from being saved
			:message => "Die folgenden Felder sind fehlerhaft:"
		%>

		<table class="form">
			<tr>
				<th><%= f.label :last_name, "Nachname:" %></th>
				<td><%= f.text_field :last_name %></td>
			</tr>
			<tr>
				<th><%= f.label :first_name, "Vorname:" %></th>
				<td><%= f.text_field :first_name %></td>
			</tr>
			<tr>
				<th><%= f.label :club, "Verein:" %></th>
				<td><%= f.text_field :club %></td>
			</tr>
			<tr>
				<th><%= f.label :medical_validity_text, "Medical gültig bis:" %></th>
				<td><%= f.text_field :medical_validity_text %> (Format: 15.10.2012 oder 2012-10-15)</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<%= f.check_box :check_medical_validity %>
					<%= f.label :check_medical_validity, "Medical prüfen" %>
				</td>
			</tr>
			<tr>
				<th><%= f.label :club_id, "Vereins-ID:" %></th>
				<td><%= f.text_field :club_id %></td>
			</tr>
			<tr>
				<th><%= f.label :comments, "Bemerkungen:" %></th>
				<td><%= f.text_field :comments %></td>
			</tr>
		</table>

		<p><%= f.submit 'Anlegen' %></p>
	<% end %>

	<p>
	<%= link_to 'Personenliste', people_path %>
	</p>

<% end %>

