<%= page_title "Person #{@wrong_person.full_name} überschreiben" %>

<h2>Falsche Person</h2>

<p>Die folgende (falsche) Person wird überschrieben:</p>
<%= render :partial => 'person', :locals => { :person=>@wrong_person } %>


<h2>Korrekte Person</h2>

<p>Die obige Person wird durch die folgende (korrekte) Person überschrieben:</p>
<%= render :partial => 'person', :locals => { :person=>@correct_person } %>

<table><tr>
<% form_tag do %>
	<%= hidden_field_tag 'id'               , @wrong_person.id   %>
	<%= hidden_field_tag 'correct_person_id', @correct_person.id %>
	<%= hidden_field_tag 'confirm'          , 'true'             %>

	<td>OK? <%= submit_tag 'Überschreiben' %></td>
<% end %>

<% form_tag do %>
	<%= hidden_field_tag 'id'               , @wrong_person.id   %>

	<td><%= submit_tag 'Neu auswählen' %></td>
<% end %>
</tr></table>

<%# TODO neu auswählen, zur Personenliste %>

