<%= page_title "Flug editieren" %>

<% form_for(@flight) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :startort %><br />
    <%= f.text_area :startort %>
  </p>
  <p>
    <%= f.label :zielort %><br />
    <%= f.text_area :zielort %>
  </p>
  <p>
    <%= f.label :anzahl_landungen %><br />
    <%= f.text_field :anzahl_landungen %>
  </p>
  <p>
    <%= f.label :startzeit %><br />
    <%= f.datetime_select :startzeit %>
  </p>
  <p>
    <%= f.label :landezeit %><br />
    <%= f.datetime_select :landezeit %>
  </p>
  <p>
    <%= f.label :typ %><br />
    <%= f.text_field :typ %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @flight %> |
<%= link_to 'Back', flights_path %>
