<% page_title "Flugbuch f端r #{h @person.full_name}" do %>

	<%= form_tag do %>
		<table class="form">
			<%= render :partial=>'partials/date_fields', :locals=>{ :enable_range=>true } %>
			<tr>
				<th>Format:</th>
				<td><%= select_tag('format', options_for_select(@formats, @format)) %></td>
			</tr>
			<tr>
				<th>Fluglehrermodus:</th>
				<td>
					<%= radio_button_tag 'flight_instructor_mode', 'no',    true %>Nein (Nur Fl端ge als Pilot anzeigen)<br/>
					<%= radio_button_tag 'flight_instructor_mode', 'strict'      %>Streng (Auch Schulfl端ge als Passagier anzeigen)<br/>
					<%= radio_button_tag 'flight_instructor_mode', 'loose'       %>Locker (Alle Fl端ge als Passagier anzeigen)<br/>
				</td>
			</tr>
			<tr>
				<th>Einstellungen:</th>
				<td><%= check_box_tag('gliders_only') %> Nur Segelflug</td>
			</tr>
			<tr>
				<td colspan="5">
					<%= submit_tag 'Abrufen' %>
				</td>
			</tr>
		</table>
	<% end %>

<% end %>

