<%# TODO move to .css %>
<style type="text/css">
	<!--
	table { text-align:left; border-collapse:collapse; }
	td,th { padding-left:5px; padding-right:10px; }
	td,th { padding-top:2px; padding-bottom:2px; }
	td,th { border: 1px solid black }
	td,th { font-size: 12px; }
	-->
</style>

<h1>Flugbuch f端r <%= h @person.full_name %></h1>

<%# TODO date spec %>
<p><%= h @date %></p>

<% if @flights.empty? %>
	<p>Keine Fl端ge im angegebenen Zeitraum</p>
<% else %>
	<p><%= h @flights.count %> Fl端ge</p>

	<table>
		<tr>
			<th><nobr>Datum</nobr></th>
			<th><nobr>Muster</nobr></th>
			<th><nobr>Kennzeichen</nobr></th>
			<th><nobr>Flugzeugf端hrer</nobr></th>
			<th><nobr>Begleiter</nobr></th>
			<th><nobr>Startart</nobr></th>
			<th><nobr>Startort</nobr></th>
			<th><nobr>Zielort</nobr></th>
			<th><nobr>Startzeit</nobr></th>
			<th><nobr>Landezeit</nobr></th>
			<th><nobr>Flugdauer</nobr></th>
			<th><nobr>Bemerkung</nobr></th>
		</tr>

		<% @flights.each do |flight| %>
			<tr>
				<td><nobr><%= h flight.effective_time.date                     %></nobr></td>
				<td><nobr><%= h flight.plane.typ                               %></nobr></td>
				<td><nobr><%= h flight.plane.kennzeichen                       %></nobr></td>
				<td><nobr><%= h flight.effective_pilot_name || "?"             %></nobr></td>
				<td><nobr><%= h flight.effective_copilot_name || "-"           %></nobr></td>
				<td><nobr><%= h flight.launch_type_pilot_log_designator || "?" %></nobr></td>
				<td><nobr><%= h flight.startort                                %></nobr></td>
				<td><nobr><%= h flight.zielort                                 %></nobr></td>
				<td><nobr><%= h(flight.effective_launch_time || "?")           %></nobr></td>
				<td><nobr><%= h(flight.effective_landing_time   || "?")        %></nobr></td>
				<td><nobr><%= h(flight.effective_duration   || "?")            %></nobr></td>
				<td><nobr><%= h flight.bemerkung                               %></nobr></td>
			</tr>
		<% end %>
	</table>
<% end %>

