<h1>Flugdatenbank <%= Settings.instance.location %></h1>

<%# TODO date spec %>
<p><%= h @date %></p>

<% if @flights.empty? %>
	<p>Keine Flüge im angegebenen Zeitraum</p>
<% else %>
	<p><%= h @flights.count %> Flüge</p>

	<table>
		<tr>
			<th><nobr>Datum</nobr></th>
			<th><nobr>Nummer</nobr></th>
			<th><nobr>Kennzeichen</nobr></th>
			<th><nobr>Typ</nobr></th>
			<th><nobr>Flugzeug Verein</nobr></th>
			<th><nobr>Pilot Nachname</nobr></th>
			<th><nobr>Pilot Vorname</nobr></th>
			<th><nobr>Pilot Verein</nobr></th>
			<th><nobr>Pilot VID</nobr></th>
			<th><nobr>Begleiter Nachname</nobr></th>
			<th><nobr>Begleiter Vorname</nobr></th>
			<th><nobr>Begleiter Verein</nobr></th>
			<th><nobr>Begleiter VID</nobr></th>
			<th><nobr>Flugtyp</nobr></th>
			<th><nobr>Anzahl Landungen</nobr></th>
			<th><nobr>Modus</nobr></th>
			<th><nobr>Startzeit</nobr></th>
			<th><nobr>Landezeit</nobr></th>
			<th><nobr>Flugdauer</nobr></th>
			<th><nobr>Startart</nobr></th>
			<th><nobr>Kennzeichen Schleppflugzeug</nobr></th>
			<th><nobr>Modus Schleppflugzeug</nobr></th>
			<th><nobr>Landung Schleppflugzeug</nobr></th>
			<th><nobr>Startort</nobr></th>
			<th><nobr>Zielort</nobr></th>
			<th><nobr>Zielort Schleppflugzeug</nobr></th>
			<th><nobr>Bemerkungen</nobr></th>
			<th><nobr>Abrechnungshinweis</nobr></th>
			<th><nobr>DBID</nobr></th>
		</tr>

		<%
			last_date=nil
			number=0
		%>
		<% @flights.each do |flight| %>
			<%
				# TODO works?
				date=flight.effective_date
				number=0 if last_date!=date
				last_date=date
				number+=1

				plane=flight.plane
				pilot=flight.pilot
				copilot=flight.copilot
			%>
			<tr>
				<td><nobr><%= h date                                    %></nobr></td>
				<td><nobr><%= h number                                  %></nobr></td>
				<td><nobr><%= h flight.effective_plane_registration     %></nobr></td>
				<td><nobr><%= h flight.effective_plane_type             %></nobr></td>
				<td><nobr><%= h (plane)?(plane.verein):("")             %></nobr></td>
				<td><nobr><%= h (pilot)?(pilot.nachname):("")           %></nobr></td>
				<td><nobr><%= h (pilot)?(pilot.vorname):("")            %></nobr></td>
				<td><nobr><%= h (pilot)?(pilot.verein):("")             %></nobr></td>
				<td><nobr><%= h (pilot)?(pilot.vereins_id):("")         %></nobr></td>
				<td><nobr><%= h (copilot)?(copilot.nachname):("")       %></nobr></td>
				<td><nobr><%= h (copilot)?(copilot.vorname):("")        %></nobr></td>
				<td><nobr><%= h (copilot)?(copilot.verein):("")         %></nobr></td>
				<td><nobr><%= h (copilot)?(copilot.vereins_id):("")     %></nobr></td>
				<td><nobr><%= h flight.flight_type_text                 %></nobr></td>
				<td><nobr><%= h flight.anzahl_landungen                 %></nobr></td>
				<td><nobr><%= h flight.mode_text                        %></nobr></td>
				<td><nobr><%= h flight.effective_launch_time            %></nobr></td>
				<td><nobr><%= h flight.effective_landing_time           %></nobr></td>
				<td><nobr><%= h flight.effective_duration               %></nobr></td>
				<td><nobr><%= h flight.launch_type_text                 %></nobr></td>
				<td><nobr><%= h flight.effective_towplane_registration  %></nobr></td>
				<td><nobr><%= h flight.mode_text_towflight              %></nobr></td>
				<td><nobr><%= h flight.effective_landing_time_towflight %></nobr></td>
				<td><nobr><%= h flight.startort                         %></nobr></td>
				<td><nobr><%= h flight.zielort                          %></nobr></td>
				<td><nobr><%= h flight.zielort_sfz                      %></nobr></td>
				<td><nobr><%= h flight.bemerkung                        %></nobr></td>
				<td><nobr><%= h flight.abrechnungshinweis               %></nobr></td>
				<td><nobr><%= h flight.id                               %></nobr></td>
			</tr>
		<% end %>
	</table>
<% end %>

