<%= page_title "Flugdatenbank #{Settings.instance.location}" %>

<p>
	<%= render :partial=>'partials/date_range', :locals=>{:date_range=>@date_range} %>
	&mdash;
	<%= render :partial=>'partials/flight_count', :locals=>{:num_flights=>@flights.size} %>
</p>

<% if @data_format_plugin %>
	<p>Format: <%= @data_format_plugin.title %> (Plugin-Version: <%= @data_format_plugin.version %>, Autor: <%= @data_format_plugin.author %>)</p>
<% else %>
	<p>Format: Standard</p>
<% end %>

<% if !@flights.empty? %>
	<%= render :partial => 'partials/list_table', :locals => { :table => @table } %>
<% end %>

