<%= page_title "Startkladde Web-Zugriff: Flugdatenbank" %>

<% form_tag do %>
	<table class="form">
		<%= render :partial=>'partials/date_fields', :locals=>{ :enable_range=>true } %>
		<%# TODO format plugin %>
		<%# TODO separate towflights %>
		<tr>
			<td>Schleppflüge einzeln:</td>
			<td><%= check_box_tag 'towflights_extra', 'true' %></td>
		</tr>
		<tr>
			<td>Datenformat:</td>
			<td><%= select_tag 'data_format', options_for_select(FlightDbController.data_format_options) %></td>
		</tr>
		<tr>
			<td>Format:</td>
			<%# TODO use array form %>
			<td><%= select_tag('format', options_for_select({"HTML"=>'html', "CSV"=>'csv'}, @format)) %></td>
		</tr>
		<tr>
			<td colspan="5">
			  <%= submit_tag 'Abrufen' %>
			</td>
		</tr>
	</table>
<% end %>

