<style type="text/css">
	<!--
	table { text-align:left; border-collapse:collapse; }
	td,th { padding-left:5px; padding-right:10px; }
	td,th { padding-top:2px; padding-bottom:2px; }
	td,th { border: 1px solid black }
	td,th { font-size: 12px; }
	-->
</style>

<h1>Hauptflugbuch <%= h Settings.instance.location %></h1>

<p><%= h @date %></p>

<% if @plane_log.empty? %>
	<p>Keine Einträge</p>
<% else %>
	<% @plane_log.keys.sort.each { |club| %>
		<% entries=@plane_log[club] %>

		<h2><%= h club %></h2>

		<table>
			<tr>
				<th><nobr>Datum</nobr></th>
				<th><nobr>Verein</nobr></th>
				<th><nobr>Kennz.</nobr></th>
				<th><nobr>Name</nobr></th>
				<th><nobr>Ins.</nobr></th>
				<th><nobr>Startort</nobr></th>
				<th><nobr>Zielort</nobr></th>
				<th><nobr>Start</nobr></th>
				<th><nobr>Landg.</nobr></th>
				<th><nobr>#Ldg.</nobr></th>
				<th><nobr>Dauer</nobr></th>
			</tr>

			<% entries.each do |entry| %>
				<tr>
					<td><nobr><%= h @date                              %></nobr></td>
					<td><nobr><%= h club                               %></nobr></td>
					<td><nobr><%= h entry.registration                 %></nobr></td>
					<td><nobr><%= h entry.pilot_name                   %></nobr></td>
					<td><nobr><%= h entry.num_passengers_string        %></nobr></td>
					<td><nobr><%= h entry.departure_airfield           %></nobr></td>
					<td><nobr><%= h entry.destination_airfield         %></nobr></td>
					<td><nobr><%= h(entry.departure_time_string || "-")%></nobr></td>
					<td><nobr><%= h(entry.landing_time_string   || "-")%></nobr></td>
					<td><nobr><%= h entry.num_landings                 %></nobr></td>
					<td><nobr><%= h(entry.duration_string       || "-")%></nobr></td>
				</tr>
			<% end %>
		</table>
	<% } %>
<% end %>

<hr>

<p><%= h version_string %></p>

