<% page_title "Passwort für Benutzer #{h @user.username} ändern" do %>

	<% @user.clear_passwords %>
	<%= form_for(@user, :url => { :action => params[:action] }, :html=>{:method=>:post}) do |f| %>
		<%= f.error_messages \
			:header_message => "Fehlerhafte Angaben", # 1 error prohibited this user from being saved
			:message => "Die folgenden Felder sind fehlerhaft:"
		%>

		<table class="form">
			<% if @display_current_password_field %>
				<tr>
					<th><%= f.label :current_password, "Altes Passwort:" %></th>
					<td><%= f.password_field :current_password %></td>
				</tr>
			<% end %>
			<tr>
				<th><%= f.label :password, "Neues Passwort:" %></th>
				<td><%= f.password_field :password %></td>
			</tr>
			<tr>
				<th><%= f.label :password_confirmation, "Neues Passwort (Wiederholung):" %></th>
				<td><%= f.password_field :password_confirmation %></td>
			</tr>
		</table>

		<p><%= submit_tag 'Ändern' %></p>
	<% end %>

	<% unless @no_links %>
		<p>
		<%= link_to 'Anzeigen', @user %> |
		<%= link_to 'Editieren', edit_user_path(@user) %> |
		<%= link_to 'Benutzerliste', users_path %>
		</p>
	<% end %>

<% end %>

