<%= page_title "Passwort für #{@user.username} ändern" %>

<% form_tag do %>
	<table>
		<% if @display_old_password %>
			<tr>
				<th><%= label_tag :old_password, "Altes Passwort:" %></th>
				<td><%= password_field_tag :old_password %></td>
			</tr>
		<% end %>
		<tr>
			<th><%= label_tag :password1, "Neues Passwort:" %></th>
			<td><%= password_field_tag :password1 %></td>
		</tr>
		<tr>
			<th><%= label_tag :password2, "Neues Passwort (Wiederholung):" %></th>
			<td><%= password_field_tag :password2 %></td>
		</tr>
	</table>

	<p><%= submit_tag 'Ändern' %></p>
<% end %>

<%= link_to 'Anzeigen', @user %> |
<%= link_to 'Editieren', edit_user_path(@user) %> |
<%= link_to 'Benutzerliste', users_path %>

