<h1>Passwort für <%= @user.username %> ändern</h1>

<% form_tag do %>
	<table>
		<tr>
			<th><%= label_tag :password1, "Passwort:" %></th>
			<td><%= password_field_tag :password1 %></td>
		</tr>
		<tr>
			<th><%= label_tag :password2, "Passwort (Wiederholung):" %></th>
			<td><%= password_field_tag :password2 %></td>
		</tr>
	</table>

	<p><%= submit_tag 'Ändern' %></p>
<% end %>

<%= link_to 'Anzeigen', @user %> |
<%= link_to 'Editieren', edit_user_path(@user) %> |
<%= link_to 'Benutzerliste', users_path %>

