<h1>Benutzer <%= h @user.username %> editieren</h1>

<% form_for(@user) do |f| %>
	<%= f.error_messages %>

	<p>Benutzername: <%= h @user.username %></p>

	<p>
		<%= f.label :club %>
		<%= f.text_field :club %>
	</p>

	<p>
		<%= f.check_box :perm_club_admin %>
		<%= f.label :perm_club_admin, "Vereinsadministrator" %>
	</p>

	<p>
		<%= f.check_box :perm_read_flight_db %>
		<%= f.label :perm_read_flight_db, "Flugdatenbank lesen" %>
	</p>

	<p>
		<%= f.submit 'Speichern' %>
	</p>
<% end %>

<%= link_to 'Anzeigen', @user %> |
<%= link_to 'Passwort ändern', :action => 'change_password', :id => @user.username %> |
<%= link_to 'Benutzerliste', users_path %>

