<%= page_title "Benutzer" do %>

    <%= page_info @users, 'Benutzer', 'Benutzer' %>

    <% if !@users.empty? %>
        <%= paginated_section @users do %>
            <%= table_for(@users) { %>
                <% header_row { %>
                    <% text "Benutzerdaten" , :colspan=>3 %>
                    <% text "Berechtigungen", :colspan=>2 %>
                <% } %>

                <% header_row { %>
                    <% text "Benutzername"         %>
                    <% text "Verein"               %>
                    <% text "Person"               %>
                    <% text "Vereinsadministrator" %>
                    <% text "Flugdatenbank lesen"  %>
                <% } %>

                <% person_formatter=lambda { |p| "#{p.formal_name} (#{p.id})" } %>
                <% body { |user| %>
                    <% person=user.person %>
                    <% cell link_to(user.username, user)                                    %>
                    <% text user.club                                                       %>
                    <% cell((person)?link_to(person_formatter.call(person), person):h("-")) %>
                    <% text yesno(user.perm_club_admin)                                     %>
                    <% text yesno(user.perm_read_flight_db)                                 %>
                    <% cell button_to 'Editieren', edit_user_path(user)                                                              %>
                    <%# cell (link_to 'Löschen', user, confirm: "Benutzer #{user.username} wirklich löschen?", method: :delete) %>
                    <% cell (button_to 'Löschen', user, :confirm => "Benutzer #{user.username} wirklich löschen?", :method => :delete) %>
                <% } %>
            <% } %>
        <% end %>
    <% end %>

    <p>
    <%= link_to 'Benutzer anlegen', new_user_path %>
    </p>

<% end %>

