<%= page_title "Personenauswahl für Benutzer #{h @user.username}" do %>

    <% current_person_on_page=@people.any? { |person| person.id==@user.person_id } %>

    <%= form_for(@user, :url => { :action => "edit" }, :html => {:method => :post}) do |f| %>
        <%= f.hidden_field 'id'                 , { :value => @user.username            } %>
        <%= f.hidden_field 'club'               , { :value => @user.club                } %>
        <%= f.hidden_field 'perm_club_admin'    , { :value => @user.perm_club_admin     } %>
        <%= f.hidden_field 'perm_read_flight_db', { :value => @user.perm_read_flight_db } %>

        <%= hidden_field_tag 'subpage', 'select_person' %>
        
        <p><%= page_info @people, 'Person', 'Personen' %></p>

        <%= paginated_section @people, :renderer=>WillPaginate::ButtonRenderer do %>
            <%= table_for(@people) { %>
                <% body_row { %>
                    <% cell f.radio_button 'person_id', '0', :checked => !(@user.person) %>
                    <% text "Keine Person", :colspan=>6 %>
                <% } %>

                <% if @user.person %>
                    <% body_row { %>
                        <% cell f.radio_button 'person_id', @user.person_id, :checked => true %>
                        <% text "Aktuelle Person: #{@user.person.full_name} (#{@user.person_id})", :colspan=>6 %>
                    <% } if !current_person_on_page %>
                <% end %>

                <% header_row { %>
                    <% text nil          %>
                    <% text "ID"         %>
                    <% text "Nachname"   %>
                    <% text "Vorname"    %>
                    <% text "Verein"     %>
                    <% text "Vereins-ID" %>
                    <% text "Bemerkung"  %>
                <% } %>

                <% body { |person| %>
                    <% checked=(@user.person_id==person.id)  %>
                    <% cell f.radio_button('person_id', person.id, :checked => checked) %>
                    <% cell person.id                                                   %>
                    <% cell person.last_name                                            %>
                    <% cell person.first_name                                           %>
                    <% text person.club                                                 %>
                    <% text person.club_id                                              %>
                    <% text person.comments                                             %>
                <% } %>
            <% } %>
        <% end %>
        
        <p>
            <%= f.submit 'OK' %>
        </p>
    <% end %>

    <p>
        <%= link_to 'Anzeigen', @user %> |
        <%= link_to 'Editieren', edit_user_path(@user) %> |
        <%= link_to 'Benutzerliste', users_path %>
    </p>

<% end %>

