<% page_title "Personenauswahl für Benutzer #{h @user.username}" do %>

	<% current_person_on_page=@people.any? { |person| person.id==@user.person_id } %>

	<% form_for(@user, :url => { :action => "edit" }, :html => {:method => :post}) do |f| %>
		<%= f.hidden_field 'id'                 , { :value => @user.username            } %>
		<%= f.hidden_field 'club'               , { :value => @user.club                } %>
		<%= f.hidden_field 'perm_club_admin'    , { :value => @user.perm_club_admin     } %>
		<%= f.hidden_field 'perm_read_flight_db', { :value => @user.perm_read_flight_db } %>

		<%= hidden_field_tag 'subpage', 'select_person' %>
		
		<p><%= @people.page_info 'Person', 'Personen' %></p>

		<% paginated_section @people, :renderer=>WillPaginate::ButtonRenderer do %>
			<% table_for(@people) { |table| %>
				<% table.body_row { |body| %>
					<%= body.cell f.radio_button 'person_id', '0', :checked => !(@user.person) %>
					<%= body.text "Keine Person", :colspan=>6 %>
				<% } %>

				<% if @user.person %>
					<% table.body_row { |body| %>
						<%= body.cell f.radio_button 'person_id', @user.person_id, :checked => true %>
						<%= body.text "Aktuelle Person: #{@user.person.full_name} (#{@user.person_id})", :colspan=>6 %>
					<% } if !current_person_on_page %>
				<% end %>

				<% table.header_row { |header| %>
					<%= header.text nil          %>
					<%= header.text "ID"         %>
					<%= header.text "Nachname"   %>
					<%= header.text "Vorname"    %>
					<%= header.text "Verein"     %>
					<%= header.text "Vereins-ID" %>
					<%= header.text "Bemerkung"  %>
				<% } %>

				<% table.body { |body, person| %>
					<% checked=(@user.person_id==person.id)  %>
					<%= body.cell f.radio_button('person_id', person.id, :checked => checked) %>
					<%= body.cell person.id                                                   %>
					<%= body.cell person.last_name                                            %>
					<%= body.cell person.first_name                                           %>
					<%= body.text person.club                                                 %>
					<%= body.text person.club_id                                              %>
					<%= body.text person.comments                                             %>
				<% } %>
			<% } %>
		<% end %>
		
		<p>
			<%= f.submit 'OK' %>
		</p>
	<% end %>

	<p>
		<%= link_to 'Anzeigen', @user %> |
		<%= link_to 'Editieren', edit_user_path(@user) %> |
		<%= link_to 'Benutzerliste', users_path %>
	</p>

<% end %>

