<h1>Personenauswahl für Benutzer <%= h @user.username %></h1>

<% form_for(@user, :url => { :action => "edit" }) do |f| %>
	<%= f.hidden_field 'id'                 , { :value => @user.username            } %>
	<%= f.hidden_field 'club'               , { :value => @user.club                } %>
	<%= f.hidden_field 'perm_club_admin'    , { :value => @user.perm_club_admin     } %>
	<%= f.hidden_field 'perm_read_flight_db', { :value => @user.perm_read_flight_db } %>
	

	<table>
		<tr>
			<td><%= f.radio_button 'person', '0', :checked => !(@user.associated_person) %></td>
			<td colspan=6>Keine Person</td>
		</tr>

		<tr>
			<th></th>
			<th>ID</th>
			<th>Nachname</th>
			<th>Vorname</th>
			<th>Verein</th>
			<th>Vereins-ID</th>
			<th>Bemerkung</th>
		</tr>

		<% @people.each do |person| %>
			<tr>
				<% checked=(@user.person==person.id)  %><%# person is the primary key, not the object %>
				<td><%= f.radio_button 'person', person.id, :checked => checked %></td>
				<td><%=h person.id %></td>
				<td><%=h person.nachname %></td>
				<td><%=h person.vorname %></td>
				<td><%=h person.verein %></td>
				<td><%=h person.vereins_id %></td>
				<td><%=h person.bemerkung %></td>
			</tr>
		<% end %>

	</table>
	<%= f.submit 'OK' %>
<% end %>

<p>
	<%= link_to 'Anzeigen', @user %> |
	<%= link_to 'Editieren', edit_user_path(@user) %> |
	<%= link_to 'Benutzerliste', users_path %>
</p>

