<%= page_title "Hauptseite" %>

<p>
	Willkommen im Web-Zugang der Startkladde am Flugplatz <%= h Settings.instance.location %>!
</p>

<p>
	Die wichtigsten Links:

	<ul>
		<li><%= link_to 'Startliste von heute', flightlist_path(:date=>'today', :format=>'pdf') %></li>
		<li>
			<%= link_to 'Bordbücher von heute', plane_log_path(:date=>'today', :format=>'html') %>
			(<%= link_to 'als PDF', plane_log_path(:date=>'today', :format=>'pdf') %>)
		</li>
		<li>
			<% today=Date.today %>
			<%= link_to 'Persönliches Flugbuch der letzten Woche', pilot_log_path(:date=>"#{today-7.days}_#{today}", :format=>'html') %>

			<% if !session[:username] %>(Anmeldung erforderlich)<% end %>
		</li>
	</ul>

	<p>Das Menü wird nach oben verlegt werden:</p>
<ul>
  <li>Flüge
    <ul>
      <li><%= link_to "Startliste", :controller => 'flightlist' %></li>
	  <li><%= link_to "Bordbücher", :controller => 'plane_log' %></li>
	  <li><%= link_to "Flugbuch", :controller => 'pilot_log' %></li>
	  <li><%= link_to "Flugdatenbank", :controller => 'flight_db' %></li>
    </ul>
  </li>
  <li>Personen
    <ul>
      <li><%= link_to "Personenliste", people_path %></li>
      <li><%= link_to "Neue Person anlegen", new_person_path %></li>
	  <li><%= link_to "Personen importieren", :controller => 'people', :action => 'import' %></li>
	  <li><%= link_to "Personen exportieren", :controller => 'people', :action => 'export' %></li>
    </ul>
  </li>
  <li>Benutzer
    <ul>
      <li><%= link_to "Benutzerliste", users_path %></li>
      <li><%= link_to "Neuen Benutzer anlegen", new_user_path %></li>
    </ul>
  </li>
  <li>Sitzung
    <ul>
		<li><%= link_to "Passwort ändern", :controller => 'users', :action => 'change_own_password' %></li>
    </ul>
    <ul>
		<% if session[:debug] %>
			<li><%= link_to "Diagnosefunktionen deaktivieren", :controller=>'session', :action=>'settings', :debug=>'false' %></li>
		<% else %>
			<li><%= link_to "Diagnosefunktionen aktivieren", :controller=>'session', :action=>'settings', :debug=>'true' %></li>
		<% end %>
    </ul>
    <ul>
		<% if session[:username] %>
			<li><%= link_to "Abmelden", logout_path %></li>
		<% else %>
			<li><%= link_to "Anmelden", login_path %></li>
		<% end %>
    </ul>
  </li>
</ul>

