<%= page_title "Startkladde: Hauptmen체" %>

<ul>
  <li>Fl체ge
    <ul>
      <li><%= link_to "Startliste", :controller => 'flightlist' %></li>
	  <li><%= link_to "Bordb체cher", :controller => 'plane_log' %></li>
	  <li><%= link_to "Flugbuch", :controller => 'pilot_log' %></li>
	  <li><%= link_to "Flugdatenbank", :controller => 'flight_db' %></li>
    </ul>
  </li>
  <li>Personen
    <ul>
      <li><%= link_to "Personenliste", people_path %></li>
      <li><%= link_to "Neue Person anlegen", new_person_path %></li>
	  <li><%= link_to "Personen importieren", :controller => 'people', :action => 'import' %></li>
	  <li><%= link_to "Personen exportieren", :controller => 'people', :action => 'export' %></li>
    </ul>
  </li>
  <li>Benutzer
    <ul>
      <li><%= link_to "Benutzerliste", users_path %></li>
      <li><%= link_to "Neuen Benutzer anlegen", new_user_path %></li>
    </ul>
  </li>
  <li>Sitzung
    <ul>
		<li><%= link_to "Passwort 채ndern", :controller => 'users', :action => 'change_own_password' %></li>
    </ul>
    <ul>
		<% if session[:debug] %>
			<li><%= link_to "Diagnosefunktionen deaktivieren", :controller=>'session', :action=>'settings', :debug=>'false' %></li>
		<% else %>
			<li><%= link_to "Diagnosefunktionen aktivieren", :controller=>'session', :action=>'settings', :debug=>'true' %></li>
		<% end %>
    </ul>
    <ul>
		<% if session[:username] %>
			<li><%= link_to "Abmelden", logout_path %></li>
		<% else %>
			<li><%= link_to "Anmelden", login_path %></li>
		<% end %>
    </ul>
  </li>
</ul>

