<% if session[:debug] %>
	<div class="stretcher debug">
		<div class="box_title debug">
			<span class="box_title">Diagnoseinformationen</span> (<%= link_to "Deaktivieren", :controller=>'session', :action=>'settings', :debug=>'false' %>)
		</div>
		<div class="box debug">
			<table>
				<tr>
					<th>params</th>
					<td>=</td>
					<td><%= h params.inspect %></td>
				</tr>
				<tr>
					<th>session</th>
					<td>=</td>
					<td><%= h session.inspect %></td>
				</tr>
				<tr>
					<th>id</th>
					<td>=</td>
					<td><%= "#{`id -u -n`.chomp}:#{`id -g -n`.chomp}" %></td>
				</tr>
				<tr>
					<th>groups</th>
					<td>=</td>
					<td><%= "#{`id -G -n`.chomp}" %></td>
				</tr>
			</table>
		</div>
	</div>
<% end %>

