<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Startkladde <%= h Settings.instance.location %> - <%= yield :title %></title>
		<%= stylesheet_link_tag 'sk_web' %>
	</head>

	<%
		menu=Menu.create(self)

		menu.entry "Startseite", root_path
		flights_menu = menu.entry "Flüge"
		people_menu  = menu.entry "Personen"
		users_menu   = menu.entry "Benutzer"
		session_menu = menu.entry "Sitzung"

		flights_menu.entry "Startliste", :controller => 'flightlist'
		flights_menu.entry "Bordbücher", :controller => 'plane_log'
		flights_menu.entry "Flugbuch", :controller => 'pilot_log'
		flights_menu.entry "Flugdatenbank", :controller => 'flight_db'

		people_menu.entry "Personenliste", people_path
		people_menu.entry "Anlegen", new_person_path
		people_menu.entry "Importieren", :controller => 'people', :action => 'import'
		people_menu.entry "Exportieren", :controller => 'people', :action => 'export'

		users_menu.entry "Benutzerliste", users_path
		users_menu.entry "Anlegen", new_user_path

		session_menu.entry "Passwort ändern", :controller => 'users', :action => 'change_own_password'
		if session[:debug]
			session_menu.entry "Diagnose aus", :controller=>'session', :action=>'settings', :debug=>'false'
		else
			session_menu.entry "Diagnose an", :controller=>'session', :action=>'settings', :debug=>'true'
		end

		if session[:username]
			session_menu.entry "Abmelden", logout_path
		else
			session_menu.entry "Anmelden", login_path
		end
	%>


	<body>
		<div class="stretcher" id="title">
			<div class="box" id="title">
				<div style="float:right">
					<% if session[:username] %>
						Angemeldet als <%= h session[:username] %> (<%= link_to "Abmelden", logout_path %>)
					<% else %>
						Nicht angemeldet (<%= link_to "Anmelden", login_path %>)
					<% end %>
				</div>

				<h1>Startkladde <%= h Settings.instance.location %></h1>
			</div>
		</div>

		<div class="stretcher" id="main">
			<div class="box" id="main" style="padding: 0px">

				<%= render :partial=>'layouts/menu_entries', :locals=>{:menu=>menu, :css_class=>"menu"} %>

				<div style="padding: 8px;">
					<% if flash[:notice] %><p style="color: green"><%= flash[:notice] %></p><% end %>
					<% if flash[:error]  %><p style="color: red"  ><%= flash[:error]  %></p><% end %>

					<%= yield %>
				</div>
			</div><%# .main.box %>
		</div>

		<% config=Rails::Configuration.new %>
		<div class="stretcher" id="footer">
			<div class="box" id="footer">
				Hauptflugbuch <%= h (Settings.instance.location || "") %> |
				<%= h config.database_configuration[RAILS_ENV]["database"] %>@<%= config.database_configuration[RAILS_ENV]["host"] %> |
				<%= h version_string %> in <%= h RAILS_ENV %> mode
			</div>
		</div>

		<% if session[:debug] %>
			<div class="stretcher" id="debug">
				<div class="box" id="debug">
					<div>params=<%= h params.inspect %></div>
					<div>session=<%= h session.inspect %></div>
					<div><%= link_to "Deaktivieren", :controller=>'session', :action=>'settings', :debug=>'false' %></div>
				</div>
			</div>
		<% end %>
	</body>
</html>

