<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title><%= yield :title %></title>
		<%= stylesheet_link_tag 'sk_web' %>
	</head>

	<body>
		<% if flash[:notice] %><p style="color: green"><%= flash[:notice] %></p><% end %>
		<% if flash[:error]  %><p style="color: red"  ><%= flash[:error]  %></p><% end %>

		<%= yield %>

		<hr />

		<div>
			<%= link_to "Hauptmenü", root_path %> |
			<% if session[:username] %>
				Angemeldet als <%= h session[:username] %> (<%= link_to "Abmelden", logout_path %>)
			<% else %>
				Nicht angemeldet (<%= link_to "Anmelden", login_path %>)
			<% end %>
		</div>

		<div style="font-size:x-small">
			Hauptflugbuch <%= h (Settings.instance.location || "") %> |
			<%= h version_string %> in <%= h RAILS_ENV %> mode
		</div>

		<% if session[:debug] %>
			<hr/>
			<div>params=<%= h params.inspect %></div>
			<div>session=<%= h session.inspect %></div>
		<% end %>

	</body>
</html>

